body{
    display: flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.card{
    width: 600px;
    margin: 0px auto;
    background: #000814;
    color: #003566; 
    border: 30px solid #FFD60A;
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}


img{
    width: 150px;
}
.info{
    font-size: small;
    color: #FFC300;
}